
@{ ViewData["Title"] = "DrugStore";
    Layout = "~/Views/Shared/_DoctorsLayout.cshtml";
}

<div class="container-fluid">
    <a class="text-center" asp-controller="Doctors" asp-action="DrugStore">Drug Store</a>
</div>